@charset 'UTF-8';
/*公共样式*/
body,div,p,span,img,dl,dt,dd,ul,li,span{/*清除意外间距*/
	margin: 0;
	padding: 0;
}
body{
	font-size: 12px;
	font-family: 'Microsoft YaHei','微软雅黑';
}
ul{ list-style: none;}
a{
	text-decoration: none;/*清除黑色圆点*/
	color: #272727;
}
a img{
border: none;
}
img{

}
.common{
	width: 1140px;
	margin: 0 auto;
}
.clear::after{/*清除浮动，使之后的元素不受float的影响*/
	content: '';
	display: block;
	clear: both;
}
/*头部*/
.header{
	border-top: 4px solid #F08D18;
	
	padding-top: 9px;
}

.logo{
	float: left;
}
.header_link a:hover
{
	color: #F08D18;
}
.header_link{
	float: right;
}
.header_link a{
	padding: 0 13px;
	line-height: 22px;
}
.header_link .qqtalk{
	padding-right: 0;
}
.header_link img{
	vertical-align: middle;
}
.tel{
	clear: right;
	float: right;
	margin-top: 20px;
}
/*导航*/
.nav{
	background: #4B4A48;
	margin-top: 7px;
}
.nav ul{
		height: 52px;
}
.nav ul li{
	float: left;
}
.nav ul li a{
	color: #fff;
	display: block;
	font-weight: bold;
	width: 120px;
	font-size: 14px;
	line-height: 52px;
	text-align: center;
}
.nav .active,
.nav a:hover{
	background: url('../images/nav_active_bg.png');
}
.banner{
	background: #666;
	height: 320px;
}
.banner img{
	/*margin: 0 auto;*/
	width:100%;
}
.banner2{
	background: #010101;
}
.banner2 a{
	display: block;
	height: 320px;
	background: url('../images/banner.png') no-repeat 50%;
}
.m_t_l{
	width: 815px;
	float: left;
}
.title{
	border-bottom: 2px solid #4b4a48;
	margin-top: 10px;
	padding-bottom:0px;
}
.title h2{
	float: left;
	font-size: 20px;
	color: #ef8d18;
	font-weight: normal;
	line-height: 20px;
}
.title a{
	float: right;
	line-height: 20px;
	margin-top: 20px;
}
.rmcx ul li{
	float: left;
	margin-top: 18px;
	margin-right: 30px;
	position: relative;
}
.rmcx ul li::after{
	content: '';
	background: url('../images/new.png');
	display: block;
	width: 39px;
	height: 43px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.rmcx .rmcx_end{
	margin-right: 0px;
}
.rmcx li p{
	width: 250px;
	height: 30px;
	text-align: center;
}
.rmcx li a{
	line-height: 30px;
}
.m_t_r{
	width: 305px;
	float: right;
}
.tsfw{
	margin-top: 18px;
}
.tsfw a{
	font-size: 20px;
	color: #fff;
	display: block;
	float: left;
}
#t_dj{
	width: 133px;
	height: 130px;
	line-height: 130px;
	background: #f8931f;
	text-align: center;
	margin-bottom: 6px;
	margin-right: 6px;
}
#t_sj{
	width:79px;
	height:62px;
	line-height:62px;
	background:#F15a25;
	text-align:center;
	margin-left:6px;
	margin-right:6px;
}
#t_hc{
	width:166px;
	height:62px;
	line-height:62px;
	background:#F15A25;
	text-align:center;
	margin-bottom:6px;
}
#t_hy{
	width:166px;
	height:62px;
	line-height:62px;
	background:#01ab9e;
	text-align:center;
	margin-bottom:6px;
}
#t_jj{
	width:79px;
	height:62px;
	line-height:62px;
	background:#01ab9e;
	text-align:center;
}
#t_qy{
	width:135px;
	height:62px;
	line-height:62px;
	background:#f8931f;
	text-align:center;
}
.m_mid{
	margin-top: 22px;
}
.m_b_l{
	width: 815px;
	float: left;
}
.thhd{
	margin-top: 15px;
}
.thhd li{
	float: left;
	margin-right: 5px;
	margin-bottom: 14px;
}
#thhd_big{
	margin-left: 0px;
}
.thhd li p{
	width: 251px;
	height: 24px;
	text-align: center;
}
.thhd li p a{
	line-height: 24px;
}



/*租车常识 开始*/
.m_b_r{
	width: 305px;
	float: right;
}
.zccs{
	margin-top: 15px;
}
.zccs ul{
	height: 270px;
	background: url('../images/cs_bg.png') no-repeat bottom right;
}
.zccs ul li a{
	line-height: 30px;
	background: url('../images/cs_item_icon.png') no-repeat 0px 6px;
	padding-left: 13px;
}
.zccs1 ul li{
	list-style-image: url('../images/cs_bg.png');
	margin-left: 15px;
}
/*热点链接 开始*/
.rd a{
	line-height: 46px;
	margin: 0 17px;
}
#rd_fir{
	margin-left: 0px;
}

/*底部 开始*/
.footer{
	border-top: 6px solid #f08d18;
	background: #4b4a48;
	color: #d6d6d6;
}
.footer a{
	color: #d6d6d6;
}
.f_top{
	border-bottom: 1px solid #b3b3b3;
	padding-top: 18px;
	padding-bottom: 30px;
}
.f_top dl{
	float: left;
	margin-right: 90px;
}
.f_top dt{
	font-size: 16px;
}
.f_top dd{
	line-height: 30px;
}
.f_mid{

	line-height: 58px;
	border-bottom: 1px solid #ef8d18;
	padding-bottom: 4px;
}
.f_bot{
	padding-top: 4px;
	line-height: 46px;
}
#beian{
	margin-left: 48px;}
#tongji{
	float: right;
}
#tongji a{
	margin: 0 12px;
}
.b_m_2{
	float: right;
}


/*在线订车  开始*/
.relative{
	position: relative;
}
.order{
	width: 370px;
	background: #fff;
	position: absolute;
	top: 18px;
	left: 0px;
}
.zxdc{
	border: 3px solid #4B4A48;
}
.zxdc p{
	height: 48px;
	line-height: 48px;
	font-size: 14px;
	padding-left: 5px;
}
.zxdc select{
	height: 28px;
	border: 1px solid #AEAEAE;
	font-size: 12px;
}
#ord1,#ord2{
	width: 184px;
}
#ord3,#ord5,#ord4,#ord6{
	width: 105px;
}
#ord4,#ord6{
	margin-left: 7px;
}
.zxdc input{
	width: 132px;
	height: 35px;
	background: #F08D18;
	border: none;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}
#ordbut{
	text-align: center;
	margin-bottom: 10px;
}
.order ul li{
	float: left;
	width: 182px;
	height: 48px;
	font-size: 16px;
	line-height: 48px;
	text-align: center;
	background: #CCCCCC;
	cursor: pointer;
}
#ord_active{
	background: #fff;
	border: 3px solid #4B4A48;
	border-bottom: none;
	margin-bottom: -3px;
}
.hide{
	display: none;
}